/* YOUR CUSTOM STYLES */
body{
    background-color: #e5e5e5;
}

.post-wrapper{
    border-radius: 5px;
    box-shadow: 0px 2px 10px #777777;
    background-color: #fcfcfc;
}

.post-container{
    padding: 10px;
    border-radius: 5px;
}

.post-tag{

    background-color: #e8e8e8;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    line-height: 40px;
}

.post-tag:hover{
    background-color: #ccc;
}

.post-title{
    padding: 18px 15px;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}

.config-title {
  background-color: #1976d2;
  padding: 18px 15px;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
}

.post-title .green{
    background-color: #A5D6A7;
}

.post-title .red{
    background-color: #E57373;
}

.post-title .blue{
    background-color: #80DEEA;
}

.post-title h1{
    margin-bottom: -1px;
}

.btn{
    background-color: #82b1ff;
}

.viewmore{
    display: none;
}

.box-hidden {
    display: none;
    font-family: "Roboto";
}