.header-title {
    text-align: center;
    height: 180px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.header {
    font-size: 100px;
    text-align: center;
    background-color: #81d4fa;
    height: 120px;
    width: 100%;
    display: table;
    box-shadow: 0px 2px 2px #888888;
}
