body {
  margin: 0;
  padding: 0;
  font-family: "ABeeZee";
  background-color: #CFD8DC;
}

.content{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 1500px;
    margin: auto;
    font-weight: bold;
    font-style: italic;
}

.content-container{
    flex: 1 100%;
    background-color: blue;
    margin: 10px;
    height: 1200px;
}

.filter-container{
    width: 350px;
    height: 700px;
    margin: 10px;
    align-items: flex-start;
    background-color: #039BE5;
    order: 2;
    
}
